body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../public/images/OIP.jpg');
  background-size: cover; /* Pour redimensionner l'image pour couvrir tout l'arrière-plan */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}


.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* Navbar container */
.navbar {
  background-color: #37393a; /* Set your preferred background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Adjust as needed */
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
  background-color: #cac6c6;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: rgb(255, 255, 255);
}

/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;


}
.text-center{
text-align: center;
}
.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;

}

/* =================================
======== page not found css ======= */


.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.pnf-heading {
  font-weight: normal;
  color: #666; 
  font-size: 24px;
  margin-bottom: 20px;
}

.pnf-btn {
  background-color: #333; 
  color: #fff; 
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pnf-btn:hover {
  background-color: #555; 
}

/* Optional: Center the button if needed */
.pnf-btn-container {
  display: flex;
  justify-content: center;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================= */
/* ========= register page ========= */

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  flex-direction: column;
}


/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/*--------------------------------------*/
/*filter by price*/

 /* index.css */


.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.col-md-9 {
  padding: 20px;
}

/*------------*/